# Logs
logs
log/
*.log

# Dependency directory
node_modules

# Jest Coverage report directory
coverage
*.xml

#IDEs and editors

## VSCode ##
.vscode

### OSX ###
*.DS_Store

packages/**/.env
packages/**/.env.production
packages/**/.env.development
packages/**/.env.test

.eslintcache

# Build files
dist
build

# HTML API Documentation
docs